<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">

        <h2 class="text-dark bg-light py-4 mb-0">管理者ログイン</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field py-4">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :パスワード %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <div class="actions py-4">
            <%= f.submit "ログイン" %>
          </div>
        <% end %>

        <%= render "admin/shared/links" %>

    </div>
  </div>
</div>
