<h1>マイページ</h1>

<div class= "container px-5 px-sm-0">


  <div class= "row">

    <div class= "col-md-4">
      <table class= "table">
        <tr>
        <% if current_customer.image.attached? %>
          <%= image_tag current_customer.profile_image, size: "300x300" %>
        <% else %>
          <%= image_tag 'no_image.png', size: "300x300" %>
        <% end %>
        </tr>
      </table>
    </div>


    <div class= "col-md-7 offset-md-1">
      <table class= "table">
        <tbody>
          <tr></tr>
            <tr>
              <th><%= @customer.name %></th>
            </tr>
            <tr>
              <th><%= @customer.profile %></th>
            </tr>
            <th><%= link_to "ユーザー情報編集", edit_my_pages_path, class: 'btn btn-success' %></th>

            <%# if customer.name != "guestuser" %>
              <%#= link_to '',edit_customer_path(customer),class: "btn btn-outline-Danger btn-block  edit_user_#{customer.id}" %>
            <%# end %>
        </tbody>
      </table>
    </div>

  </div>


  <div class= "row">
    <h2>シェアした贈り物</h2>

      <table class="table table-hover table-inverse">

        <thead>
        </thead>

        <tbody>
          <% if @gifts.empty? %>
          <p>まだシェアしていません。</p>
            <% else %>
              <% @gifts.each do |gift| %>
                <td><%= link_to gift.title, gift_path(gift.id) %></td>
                <td><%= gift.shop_name %></td>
              <% end %>
          <% end %>

        </tbody>

      </table>
  </div>







