<div class= "container px-5 px-sm-0">
  <div class= "row">
    <div class= "col-md-4">
      <table class= "table">
        <tr>
        <% if current_customer.profile_image.attached? %>
          <%= image_tag current_customer.profile_image, size: "300x300" %>
        <% else %>
          <%= image_tag 'no_image.png', size: "300x300" %>
        <% end %>
        </tr>
      </table>
    </div>


    <div class= "col-md-7 offset-md-1">
      <div class="col-6">
        <div class="form-group">
          <lavel for="inputName">ユーザーネーム</lavel>
          <div class="content-section">
            <h3><strong><%= @customer.name %></strong></h3>
          </div>
        </div>

        <div class="form-group">
          <lavel for="inputName">プロフィール</lavel>
          <div class="content-section">
            <h5><strong><%= @customer.profile %></strong></h5>
          </div>
        </div>

        <%= link_to "ユーザー情報編集", edit_my_page_path, class: 'btn btn-outline-info' %>
        <%= link_to "ブックマーク一覧", bookmarks_my_pages_path, class: "btn btn-outline-success" %>
      </div>
    </div>

    <div class="col-10 my-4">
      <h2>シェアした贈り物</h2>
        <%= render "public/gifts/post", gifts: @gifts %>
    </div>
</div>








