<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="about text-center">
        <%= image_tag 'about.png', class: "img-fluid" %>
      </div>
      <div class="about text-center">
        <%= image_tag 'about2.png', class: "img-fluid" %>
      </div>
      <div class="about text-center">
        <%= image_tag 'about3.png', class: "img-fluid" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mt-3">
      <div class="mx-auto">
        <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-outline-secondary mr-3' %>
        <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  </div>
</div>
