<h2>コメント</h2>
  <% gift.comments.each do |comment| %>
    <div class="row">
      <div class="col-3">
        <% if comment.customer.profile_image.attached? %>
          <%= image_tag comment.customer.profile_image, size: "175x175" %><br>
          <%= comment.customer.name %>
        <% else %>
          <%= image_tag 'no-image/Customer_no_image.jpg', size: "175x175" %><br>
          <%= comment.customer.name %>
        <% end %>
      </div>
      <div class="col-9">
        <p><%= comment.body %></p>
        <% if comment.customer == current_customer %>
          <%= link_to "コメントを削除する", gift_comment_path(gift, comment), method: :delete, class: "btn btn-sm btn-danger", remote: true %>
        <% end %>
      </div>
    </div>
  <% end %>

<%= form_with model: [gift, comment], local: false do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', rows: 4 %>
  </div>
  <%= f.submit 'コメントする', class:"btn btn-lg btn-block btn-info mt-4" %></td>
<% end %>
