<%= form_with model: [gift, comment], local: false do |f| %>
<table>
  <thead><h2>コメント</h2><thead>
    <tbody>
      <% gift.comments.each do |comment| %>
        <tr>
          <td>
            <%= image_tag comment.customer.profile_image, size: '100x100' %><br>
              <%= comment.customer.name %>
          </td>

          <td><%= comment.body %></td>
              <% if comment.customer == current_customer %>
                <td><%= link_to "コメントを削除する", gift_comment_path(gift, comment), method: :delete, class: "btn btn-sm btn-danger", remote: true %></td>
              <% end %>
        </tr>
      <% end %>
        <tr>
          <td><%= f.text_area :body, class: 'form-control', rows: 4 %></td>
          <td><%= f.submit 'コメントする', class:"btn btn-lg btn-block btn-info mt-4" %></td>
        <tr>
   </tbody>
</table>
<% end %>
