<div class="row">
  <% if gifts.empty? %>　<%# 商品は空ですか？ %>
    <p>該当する贈り物が見つかりませんでした。</p>
  <% else %>
    <% gifts.each do |gift| %> <%# 商品たちを一個ずつ取り出します。 %>
      <div class="col-3 p-3 text-center shadow-sm">
        <%= link_to gift_path(gift.id) do %><%# その商品の詳細ページ %>
        <% if gift.gift_image.attached? %>
          <%= image_tag gift.gift_image, size: "175x175" %> <%# 商品の商品画像 %>
        <% else %>
          <%= image_tag "no-image/Gift_no_image.jpg", size: "175x175" %>
        <% end %>
        <% end %>
          <p class="text-body"><%= gift.name %></p><%# 商品の名前 %>
          <p class="text-body"><%= gift.shop_name %></p><%# 店舗の名前 %>
        <% if current_customer && current_customer.name != "guestuser" %>
          <div id="bookmark-<%= gift.id %>">
            <%= render "public/gifts/bookmark", gift: gift %>
          </div>
        <% else %>
          <p class="text-body"><i class="far fa-bookmark" style="color: #d2772d;"></i><%= gift.bookmarks.count %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>