<div class="container-fluid px-4">
  <div class="row">

    <div class="col-md-2 mx-4 col-12">
      <div class="my-3">
        <%= link_to "新規投稿", new_gift_path, class:"btn btn-outline-primary btn-block" %>
      </div>
      <div class="my-3">
        <%= link_to "すべて表示する", gifts_path, class:"btn btn-outline-success btn-block" %>
      </div>
      <div class="my-5">
        <%= render partial: "search" %>
      </div>
      <div class="my-5">
        <%= render 'scene_search', scenes: @scenes %>
      </div>
      <div class="my-5">
        <%= render 'tag_search', tag_list: @tag_list %>
      </div>
    </div>

    <div class="col-12 col-md-9">
      <div class="text-right my-3">
        <%= image_tag('index.png') %>
      </div>
      <div class="text-left">
        <%= link_to '新しい順', gifts_path(latest: "true") %>
        |<%= link_to '古い順', gifts_path(old: "true") %>
        |<%= link_to 'ブックマークの多い順', gifts_path(bookmark_count: "true") %>
      </div>
      <div>
        <%= render "post", gifts: @gifts %>
      </div>
    </div>


    <div class="my-5 mx-auto">
      <%= paginate @gifts, theme: 'twitter-bootstrap-4' %><%# ページネーション＠商品、テーマ：ツイッターブートストラップ %>
    </div>

  </div>
</div>

