<div class="container">
  <div class="row">
    <div class="col-6">
      <%= image_tag @gift.gift_image, size: "300x300" %>
      <!--商品の商品画像-->
    </div>
    <div class="col-6">
      <h3><strong><%= @gift.name %></strong></h3>
      <!--商品の名前-->
      <h5 class="mt-3"><%= @gift.description %></h5>
      <!--店舗の名前-->
      <div class="d-flex mt-5">
        <h4>¥<%= number_with_delimiter((@gift.price), delimiter: ',') %></h4>
        <!--数値のカンマ切り、四捨五入、デリミタ、）-->
        <p><small class="text-small">（税込）</small></p>
      </div>

      <h5 class="mt-3"><%= @gift.scene %></h5>
      <h5 class="mt-3">
        <% @gift_tags.each do |tag| %>
          <%=tag.name%><%="(#{tag.gifts.count})" %>
        <% end %>
        <!--タグ-->
        <% @gift_tags.each do |tag| %>
          <%= link_to tag.name,search_tag_path(tag_id: tag.id)%><%="(#{tag.gifts.count})" %>
        <% end %>
      </h5>
    </div>
  </div>

  <div class = "row">
    <h2>利用した感想</h2>
    <%= f.text_area :introduction %>
  </div>

  <div class = "row">
    <h2>コメント</h2>
  </div>

</div>
