      <div class="row">
        <% if gifts.empty? %> <%# 商品は空ですか？ %>
          <p>該当する贈り物が見つかりませんでした。</p>
        <% else %>
          <% gifts.each do |gift| %> <%# 商品たちを一個ずつ取り出します。 %>
            <div class="col-3 p-3 text-center shadow-sm">
              <%= link_to admin_gift_path(gift.id) do %><%# その商品の詳細ページ %>
              <% if gift.gift_image.attached? %>
                <%= image_tag gift.gift_image, size: "175x175" %> <%# 商品の商品画像 %>
              <% else %>
                <%= image_tag "about.png", size: "175x175" %>
              <% end %>
              <% end %>
                <p class="text-body"><%= gift.name %></p><%# 商品の名前 %>
                <p class="text-body"><%= gift.shop_name %></p><%# 店舗の名前 %>
              <div id="bookmark-<%= gift.id %>">
                <%= render "admin/gifts/bookmark", gift: gift %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>