<div class="container-fluid px-4">
  <div class="row">

    <div class="col-2 mx-4">
      <div class="my-3">
        <%= link_to "すべて表示する", admin_gifts_path, class:"btn btn-outline-success btn-block" %>
      </div>
      <div class="my-5">
        <%= render partial: "search" %>
      </div>
      <div class="my-5">
        <%= render 'scene_search', scenes: @scenes %>
      </div>
      <div class="my-5">
        <%= render 'tag_search', tag_list: @tag_list %>
      </div>
    </div>

    <div class="col-9">
      <div class="my-3">
        <%= render 'slide' %>
      </div>
      <!--<div class="text-right my-3">-->
      <!--  <%#= image_tag('index.png') %>-->
      <!--</div>-->
      <div class="text-left">
        <%= link_to '新しい順', admin_gifts_path(latest: "true") %>
        |<%= link_to '古い順', admin_gifts_path(old: "true") %>
        |<%= link_to 'ブックマークの多い順', admin_gifts_path(bookmark_count: "true") %>
      </div>
      <div>
        <%= render "post", gifts: @gifts %>
      </div>
    </div>

    <div class="my-5 mx-auto">
      <%= paginate @gifts, theme: 'twitter-bootstrap-4' %><%# ページネーション＠商品、テーマ：ツイッターブートストラップ %>
    </div>

  </div>
</div>