<div class="container">
  <div class="row">
    <div class="col-2 mx-1">
      <div class="search my-2">
        <%= render partial: "search" %>
      </div>
      <div class="my-2">
        <%= render 'scene_search', scenes: @scenes %>
      </div>
    </div>

    <div class="col-9">
      <h4>贈り物一覧</h4>
      <div class="row">
        <% if @gifts.empty? %> <%# 商品は空ですか？ %>
          <p>該当する贈り物が見つかりませんでした。</p>
        <% else %>
          <% @gifts.each do |gift| %> <%# 商品たちを一個ずつ取り出します。 %>
            <div class="col-3 border p-3 text-center">
              <%= link_to admin_gift_path(gift.id) do %><%# その商品の詳細ページ %>
              <% if gift.gift_image.attached? %>
                <%= image_tag gift.gift_image, size: "175x175" %> <%# 商品の商品画像 %>
              <% else %>
                <%= image_tag "about.png", size: "175x175" %>
              <% end %>
              <% end %>
                <p class="text-body"><%= gift.name %></p><%# 商品の名前 %>
                <p class="text-body"><%= gift.shop_name %></p><%# 店舗の名前 %>
              <div id="bookmark-<%= gift.id %>">
                <%= render "admin/gifts/bookmark", gift: gift %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @gifts, theme: 'twitter-bootstrap-4' %><%# ページネーション＠商品、テーマ：ツイッターブートストラップ %>
    </div>
  </div>
</div>


<% if @tag_list.present? && @tag_list.count > 0 %>
  <% @tag_list.each do |list| %>
    <% if list.gifts.count > 0 %>
      <i class="fas fa-tag"></i>
      <%=link_to list.name, admin_gifts_path(tag_id:list.id) %>
      <%="(#{list.gifts.count})" %>
    <% end %>
  <% end %>
<% end %>
