<div class="container">

  <div class= "text-center">
    <p>「ピン！」とくる贈り物を<br>みんなでシェアしたいコミュニティサイト</p>
    <p><%= link_to 'pinn!とは', about_path, class: 'btn btn-outline-secondary' %></p>
  </div>

  <div class="row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-3">

      <h2 class="text-dark bg-warning py-4 mb-0">ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field py-3">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions py-4">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right py-4">
        <%= link_to 'ゲストログイン', guest_sign_in_path, method: :post, class: 'btn btn-outline-secondary' %>
      </div>
      <div class="col-2 text-left py-4 mx-5">
        <%= render "public/shared/links" %>
      </div>
    </div>

    <div class="col-12 text-right">
      <%= link_to "管理者ログイン", new_admin_session_path %>
    </div>
  </div>